
.dropdown-item{
    text-decoration: none;
    cursor: pointer;
    border-radius: 3%;
    color: darkgray;

}
.dropdown-item:hover{

    color: rgb(19, 15, 15);
    transition: all;
    transition-duration: 0.5s;


}
.darkgray
{
    color: darkgray;

}