#profile{
    min-height: 100vh !important;
    background-color: #666;
}

.note{
    background-color: rgb(113, 135, 132);
    color:whitesmoke;
}


.card-body {
    flex: 1 1 auto;
    min-height: 250px;
    padding-top:  0rem;
    padding-left:  1.25rem;
    padding-right:  1.25rem;
    padding-bottom:  1.25rem;
  


}


